<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JavaScript Test Page</title>
    <script>
        alert('HEAD SCRIPT WORKS!');
        console.log('HEAD: JavaScript is working');
        
        function testFunction() {
            alert('Test function called!');
            console.log('Test function executed');
        }
    </script>
</head>
<body>
    <h1>JavaScript Test Page</h1>
    <button onclick="testFunction()">Test JavaScript</button>
    <button onclick="alert('Inline script works!')">Test Inline</button>
    
    <script>
        alert('BODY SCRIPT WORKS!');
        console.log('BODY: JavaScript is working');
    </script>
</body>
</html>
